WECOM_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=73c8ab67-a7a5-4126-a81f-23454c23c3ef
NEWS_IMAGE_BASE_URL=https://raw.githubusercontent.com/luckkyboy/news-data/main/static/images
OIL_CALENDAR_DATA_DIR=/data/oil-calendar
TZ=Asia/Shanghai
